:root {
  --base-color: #326c60;
  --global-padding: 0px 10px;
  --global-padding-left: 10px;
  --global-padding-right: 10px;
  --global-border-radius: 5px;
  --global-game-width: 450px;

  --header-border-radius: 5px;

  --league-table-header-color: #8c8c8c;
  --league-table-body-color: #292b38;

  --grey-700: #292b38;

  --bet-buttons-height: 42px;
}

html,
body {
  width: 100%;
  height: 100%;
}
body {
  font-family: "Barlow", sans-serif;
  background-color: #f4f4f4;
  color: #333;
  margin: 0;
  padding: 0;
}

#root {
  display: flex;
  justify-content: center;
  min-height: 100%;
}

.main {
  width: 100%;
  max-width: 450px;
  background-color: #fff;
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: var(--global-padding);
  margin: 0 auto;
}

.main-content {
  flex: 1;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

.loading-screen__wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.top-info-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--base-color);
  color: white;
  padding: 10px 15px;
  position: relative;
  z-index: 10;
  border-radius: var(--header-border-radius);
  margin-top: 10px;
}

.legue-table {
  width: 100%;
  border-collapse: collapse;
  font-size: 0.8em;
}

.legue-table thead th {
  padding: 8px 4px;
  text-align: left;
  color: var(--league-table-header-color);
  font-weight: 300;
  font-size: 14px;
}

.legue-table tbody td {
  padding: 8px 4px;
  text-align: left;
  border-bottom: 1px solid #eee;
  color: var(--league-table-body-color);
  font-size: 16px;
}
.text-bold {
  font-weight: 700;
}

.league-display {
  max-height: 30vh;
  overflow-y: auto;
}

.group-switcher {
  display: flex;
  overflow-x: auto;
  padding: 10px 0;
}

.match-betting-options {
  flex: 1;
  overflow-y: auto;
  padding: 10px;
}

.match-fixture {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #eee;
  padding: 8px 0;
}

.teams-container {
  flex-basis: 48%;
  display: flex;
  flex-direction: column;
  font-size: 16px;
  color: #1c1c1e;
}

.odds-buttons {
  flex-basis: 50%;
  display: flex;
  justify-content: space-between;
}

.odds-buttons button {
  width: 32%;
  padding: 10px 4px;
  background-color: #f6f6f6;
  border: 1px solid #e9e9e9;
  color: #292b38;
  border-radius: 5px;
  cursor: pointer;
  font-size: 0.9em;
  font-size: 18px;
}

.betting-footer {
}

.betting-footer .container {
  border-radius: 5px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  background-color: #f1f2f2;
  border: 1px solid #e8e8e8;
  margin-bottom: 1px;
  padding: 5px 10px;
}

.bet-type-selector {
  display: flex;
  margin-bottom: 5px;
  gap: 15px;
}

.bet-type-btn:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.bet-type-btn {
  flex: 1;
  padding: 10px;
  font-weight: bold;
  border: 1px solid #d8d8d8;
  background-color: #eee;
  color: #7b7b7b;
  cursor: pointer;
  font-size: 14px;
  border-radius: 5px;
}

.betting-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 5px;
  gap: 15px;
}

.bet-button-container {
  width: 50%;
  flex: 1;
}

.bet-button {
  color: #fff;
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
  width: 100%;
  cursor: pointer;
  background-color: var(--base-color);
  border-radius: var(--global-border-radius);
  flex: 1;
  border: 1px solid #224e45;
  height: var(--bet-buttons-height);
}

.stake-control-wrapper {
  width: 50%;
  flex: 1;
}

.bet-info {
  display: flex;
  border-top: 1px solid #d0d6d9;
  background: #e8ebed;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 5px 10px;
  font-size: 16px;
  color: #616161;
  justify-content: space-between;
  gap: 15px;
}

.bet-info div,
.game-info-bar span {
  width: 50%;
  flex: 1;
}

.game-info-bar {
  color: #8c8c8c;
  font-size: 14px;
  padding: 5px 0;
  display: flex;
  justify-content: space-between;
}

.text-center {
  text-align: center;
}
.overlay {
  position: absolute;
  top: 56px;
  left: 0;
  right: 0;
  bottom: 25px;
  background-color: rgba(255, 255, 255, 0.95);
  z-index: 99;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #333;
}

.overlay-content,
.modal-content {
  width: 100%;
  padding: 20px;
  text-align: center;
}

.overlay-content h1 {
  color: var(--base-color);
  margin-top: 0;
}

.soccer-ball-loader {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #fff;
  border: 5px solid #333;
  margin: 20px auto;
  position: relative;
  animation: spin 1s linear infinite;
}

.soccer-ball-loader::before {
  content: "";
  position: absolute;
  width: 18px;
  height: 18px;
  background: var(--base-color);
  border-radius: 50%;
  top: 5px;
  left: 16px;
}

.overlay-content p {
  font-size: 1.2em;
  font-weight: bold;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.result-item {
  background-color: #f0f0f0;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 12px 15px;
  margin: 10px auto;
  max-width: 85%;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.4s ease-out, transform 0.4s ease-out;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.result-item.visible {
  opacity: 1;
  transform: translateY(0);
}

.results-list {
  margin-top: 20px;
}

.main-score-line {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.result-team-a {
  text-align: right;
}
.result-item-b {
  text-align: left;
}

#knockout-results-display h2 {
  text-align: center;
  color: #ccc;
  font-size: 1.1em;
  padding-top: 10px;
}

.knockout-round-title {
  color: black;
  font-size: 1em;
  font-weight: bold;
  margin-top: 15px;
  margin-bottom: 5px;
  border-bottom: 1px solid #4a476a;
  padding-bottom: 5px;
}

.knockout-results-table {
  width: 100%;
  border-collapse: collapse;
  font-size: 0.8em;
  margin-bottom: 15px;
}

.knockout-results-table th,
.knockout-results-table td {
  padding: 6px;
  text-align: left;
  border-bottom: 1px solid #2a2a4a;
}

.knockout-results-table th {
  background-color: #f2f2f2;
}

.hide {
  display: none !important;
}

.error-wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
}

.error-content {
  max-width: var(--global-game-width);
  width: 100%;
  background-color: rgba(255, 255, 255, 0.95);
  z-index: 5;
  padding: 1rem;
  text-align: center;
  color: #333;
}

.error-content p {
  display: block;
  margin-bottom: 0.5rem;
}

.stake-control {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

.stake-control button {
  border: 1px solid #d8d8d8;
  background-color: #fff;
  font-size: 1.2em;
  width: 48px;
  height: var(--bet-buttons-height);
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.stake-input {
  color: var(--grey-700);
  width: max-content;
  font-size: 22px;
  font-weight: bold;
  text-align: center;
}
.stake-input:focus {
  outline: none;
}

.stake-control button:disabled {
  opacity: 0.7;
  cursor: not-allowed;
}

.arrow-right {
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;

  border-left: 10px solid var(--base-color);
}

.arrow-left {
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;

  border-right: 10px solid var(--base-color);
}

.result-team-name {
  flex: 1;
}

.result-team-a {
  text-align: right;
}

.result-team-b {
  text-align: left;
}

.result-score {
  flex-basis: 70px;
  text-align: center;
  font-size: 1.4em;
  font-weight: bold;
  color: var(--base-color);
}
