:root {
  --base-color: #e10a0a;
  --base-color-700: #c10707;
  --global-padding: 0px 10px;
  --global-padding-left: 10px;
  --global-padding-right: 10px;
  --global-border-radius: 5px;
  --global-game-width: 450px;
  --global-logo: url(./logo.png);
  --client-logo: url(./virginbet-logo.png);

  --header-border-radius: 5px;

  --league-table-header-color: #8c8c8c;
  --league-table-body-color: #292b38;
  --league-table-body-border: 1px solid #eee;
  --league-table-header-bgcolor: transparent;

  --grey-700: #292b38;

  --bet-buttons-height: 42px;
  --loading-text-color: inherit;

  --game-screen-bg-color: #fff;
  --topbar-bg-color: #e10a0a;
  --footer-bg-color: #f1f2f2;
  --footer-border: 1px solid #e8e8e8;
  --topinfo-text-color: #fff;

  --odds-btn-bgcolor: #f6f6f6;
  --odds-btn-border: 1px solid #e9e9e9;
  --odds-btn-textcolor: #292b38;

  --team-textcolor: #1c1c1e;
  --match-fixture-bgcolor: #fff;
  --match-fixture-border: 1px solid #eee;
  --match-fixture-ptop: 10px;
  --match-fixture-pbottom: 10px;

  --bet-type-btn-border: 1px solid #d8d8d8;
  --bet-type-btn-bgcolor: #eee;

  --stake-btn-border: 1px solid #d8d8d8;
  --stake-btn-bgcolor: #fff;
  --stake-input-textcolor: #292b38;

  --overlay-bgcolor: rgba(255, 255, 255, 0.95);

  --result-item-bgcolor: #f0f0f0;
  --result-item-border: 1px solid #ddd;

  --result-round-name-textcolor: inherit;
  --knockout-round-title-bgcolor: transparent;
  --knockout-results-table-border: 1px solid #f2f2f2;
  --knockout-results-table-textcolor: inherit;
  --knockout-round-title-textcolor: black;
  --mainscore-textcolor: inherit;
  --knockout-round-title-border: 1px solid #4a476a;
  --overlay-textcolor: inherit;

  --outright-content-bgcolor: #fff;
  --loadingscreen-bgcolor: transparent;

  --bet-history-bgcolor: #fff;
  --bet-history-textcolor: inherit;
  --app-game-name-textcolor: inherit;

  --outright-bet-textcolor: #333;
}

html,
body {
  width: 100%;
  height: 100%;
}
body {
  font-family: "Barlow", sans-serif;
  background-color: var(--base-bg-color);
  color: #333;
  margin: 0;
  padding: 0;
  height: 100vh;
}

#root {
  display: flex;
  justify-content: center;
  min-height: 100%;
}

.main {
  width: calc(100% - var(--global-padding));
  max-width: 450px;
  background-color: var(--game-screen-bg-color);
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: var(--global-padding);
  margin: 0 auto;
}

.loading-logo__wrapper {
  width: 100%;
  height: 100%;
  max-width: 450px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.loading-logo__wrapper > * {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.loading-logo__wrapper .text-center {
  color: var(--loading-text-color);
}

.main-content {
  flex: 1;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

.loading-screen__wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--loadingscreen-bgcolor);
}

.top-info-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--topbar-bg-color);
  color: var(--topinfo-text-color);
  padding: 10px 15px;
  position: relative;
  z-index: 10;
  border-radius: var(--header-border-radius);
  margin-top: 10px;
  cursor: pointer;
  font-weight: bold;
}

.legue-table {
  width: 100%;
  border-collapse: collapse;
  font-size: 0.8em;
  margin-top: 2px;
}

.legue-table thead {
  background-color: var(--league-table-header-bgcolor);
}

.legue-table thead th {
  padding: 8px 4px;
  text-align: left;
  color: var(--league-table-header-color);
  font-weight: 300;
  font-size: 14px;
}

.legue-table thead th b {
  font-weight: 700 !important;
}

.legue-table tbody td {
  padding: 8px 4px;
  text-align: left;
  border-bottom: var(--league-table-body-border);
  color: var(--league-table-body-color);
  font-size: 16px;
}

.legue-table thead th,
.legue-table tbody td {
  text-align: center;
}

.legue-table tbody td:last-child {
  text-align: center;
}
.text-bold {
  font-weight: 700;
}

.league-display {
  max-height: 23vh;
  overflow-y: auto;
}

.group-switcher {
  display: flex;
  overflow-x: auto;
  padding: 10px 0;
}

.match-betting-options {
  flex: 1;
  overflow-y: auto;
  padding: 10px;
}

.match-fixture {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: var(--match-fixture-border);
  padding: 6px 0;
}

.teams-container {
  flex-basis: 48%;
  display: flex;
  flex-direction: column;
  font-size: 14px;
  color: var(--team-textcolor);
}

.odds-buttons {
  flex-basis: 50%;
  display: flex;
  justify-content: space-between;
}

/**
background-color: #333;
    border: 1px solid #555;
		*/

.odds-buttons button {
  width: 32%;
  padding: 5px 4px;
  background-color: var(--odds-btn-bgcolor);
  border: 1px solid var(--odds-btn-border);
  color: var(--odds-btn-textcolor);
  border-radius: 5px;
  cursor: pointer;
  font-size: 0.9em;
  font-size: 16px;
  font-weight: bold;
}

.odds-buttons button.active,
.bet-type-btn.active {
  background-color: var(--base-color);
  border-color: var(--base-color);
  color: #fff;
}

.betting-footer .container {
  border-radius: 5px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  background-color: var(--footer-bg-color);
  border: var(--footer-border);
  margin-bottom: 1px;
  padding: 5px 10px;
}

.bet-type-selector {
  display: flex;
  margin-bottom: 5px;
  gap: 15px;
}

.bet-type-btn:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.bet-type-btn {
  flex: 1;
  padding: 10px;
  font-weight: bold;
  border: var(--bet-type-btn-border);
  background-color: var(--bet-type-btn-bgcolor);
  color: #7b7b7b;
  cursor: pointer;
  font-size: 14px;
  border-radius: 5px;
}

.betting-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 5px;
  gap: 15px;
}

.bet-button-container {
  width: 50%;
  flex: 1;
}

.bet-button,
#reloadBtn {
  color: #fff;
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
  width: 100%;
  cursor: pointer;
  background-color: var(--base-color);
  border-radius: var(--global-border-radius);
  flex: 1;
  border: 1px solid var(--base-color-700);
  height: var(--bet-buttons-height);
}

#reloadBtn {
  width: 25%;
  margin: 0 auto;
  font-size: 16px;
}

.error-content h1 {
  color: #e40000;
  margin-top: 0;
  margin-bottom: 1rem;
}

.bet-button:disabled {
  opacity: 0.6;
  cursor: none;
  pointer-events: none;
}

.stake-control-wrapper {
  width: 50%;
  flex: 1;
}

.bet-info {
  display: flex;

  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 5px 10px;
  font-size: 16px;
  color: #616161;
  justify-content: space-between;
  gap: 15px;
  background: var(--footer-bg-color);
  border-top: var(--footer-border);
}

.bet-info div,
.game-info-bar span {
  width: 50%;
  flex: 1;
}

.game-info-bar {
  color: #8c8c8c;
  font-size: 14px;
  padding: 5px 0;
  display: flex;
  justify-content: space-between;
}

.text-center {
  text-align: center;
}
.overlay {
  position: absolute;
  top: 65px;
  left: 0;
  right: 0;
  bottom: 25px;
  background-color: var(--overlay-bgcolor);
  z-index: 99;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #333;
  overflow: hidden;
}

.overlay-content,
.modal-content {
  width: 100%;
  padding: 20px;
  text-align: center;
}

.overlay-content {
  height: calc(100% - 40px);
}

.overlay-content h1 {
  color: var(--base-color);
  margin-top: 0;
}

.soccer-ball-loader {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #fff;
  border: 5px solid #333;
  margin: 20px auto;
  position: relative;
  animation: spin 1s linear infinite;
}

.soccer-ball-loader::before {
  content: "";
  position: absolute;
  width: 18px;
  height: 18px;
  background: var(--base-color);
  border-radius: 50%;
  top: 5px;
  left: 16px;
}

.overlay-content p {
  font-size: 1.2em;
  font-weight: bold;
  color: var(--overlay-textcolor);
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.result-item {
  background-color: var(--result-item-bgcolor);
  border: var(--result-item-border);
  border-radius: 8px;
  padding: 12px 15px;
  margin: 10px auto;
  max-width: 85%;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.4s ease-out, transform 0.4s ease-out;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.result-item.visible {
  opacity: 1;
  transform: translateY(0);
}

.results-list {
  margin-top: 20px;
  height: 100% !important;
  overflow-x: hidden;
  overflow-y: scroll;
}

.main-score-line {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  color: var(--mainscore-textcolor);
}

.result-team-a {
  text-align: right;
}
.result-item-b {
  text-align: left;
}

#knockout-results-display h2 {
  text-align: center;
  color: #ccc;
  font-size: 1.1em;
  padding-top: 10px;
}

.knockout-round-title {
  color: var(--knockout-round-title-textcolor);
  font-size: 1em;
  font-weight: bold;
  margin-top: 15px;
  margin-bottom: 5px;
  border-bottom: var(--knockout-round-title-border);
  padding-bottom: 5px;
  background: var(--knockout-round-title-bgcolor);
}

.knockout-results-table {
  width: 100%;
  border-collapse: collapse;
  font-size: 0.8em;
  margin-bottom: 15px;
}

.knockout-results-table th,
.knockout-results-table td {
  padding: 6px;
  text-align: left;
  border-bottom: var(--knockout-results-table-border);
  color: var(--knockout-results-table-textcolor);
}

.knockout-results-table th {
  background-color: #f2f2f2;
}

.hide {
  display: none !important;
}

.error-wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
}

.error-content {
  max-width: var(--global-game-width);
  width: 100%;
  background-color: rgba(255, 255, 255, 0.95);
  z-index: 5;
  padding: 1rem;
  text-align: center;
  color: #333;
}

.error-content p {
  display: block;
  margin: 0.5rem;
}

.stake-control {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

.stake-control button {
  border: var(--stake-btn-border);
  background-color: var(--stake-btn-bgcolor);
  font-size: 1.2em;
  width: 48px;
  height: var(--bet-buttons-height);
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.stake-input {
  color: var(--stake-input-textcolor);
  width: max-content;
  font-size: 22px;
  font-weight: bold;
  text-align: center;
}
.stake-input:focus {
  outline: none;
}

.stake-control button:disabled {
  opacity: 0.7;
  cursor: not-allowed;
}

.arrow-right {
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;

  border-left: 10px solid var(--base-color);
}

.arrow-left {
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;

  border-right: 10px solid var(--base-color);
}

.result-team-name {
  flex: 1;
}

.result-team-a {
  text-align: right;
}

.result-team-b {
  text-align: left;
}

.result-score {
  flex-basis: 70px;
  text-align: center;
  font-size: 1.4em;
  font-weight: bold;
  color: var(--base-color);
}

/** modals */
.modal-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 20;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal-content {
  background-color: #fff;
  border-radius: 8px;
  border: 1px solid #ccc;
  position: relative;
  max-width: var(--global-game-width);
}
.modal-close-btn {
  position: absolute;
  top: 5px;
  right: 10px;
  font-size: 1rem;
  color: #555;
  cursor: pointer;
  font-weight: bold;
}
#modal-message {
  margin: 0;
  font-size: 1.1em;
}

.bet-history-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
  background-color: var(--base-color);
  color: #fff;
  border-radius: 8px;
}

.bet-history-header h2 {
  margin: 0;
  font-size: 1.1em;
  cursor: pointer;
}

.bet-history-header h2.active {
  background-color: #333;
  font-weight: bold;
  padding: 2px 10px;
  border-radius: 4px;
  font-size: 1.2em;
  color: #fff;
}

.bet-history-content {
  background-color: var(--bet-history-bgcolor);
  color: #333;
  width: 95%;
  max-width: 400px;
  height: 95%;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
}

.star-animation {
  position: fixed;
  z-index: 100;
  font-size: 24px;
  color: #e40000;
  pointer-events: none;
  transition: transform 0.75s ease-in-out;
}

.round-summary,
.outright-summary {
  padding: 10px;
  border-top: 1px solid #ddd;
  font-size: 0.9em;
  line-height: 1.6;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
}

#round-name {
  font-weight: bold;
}

.odds-header {
  cursor: text !important;
  background-color: transparent !important;
  padding: 0 !important;
  border: none !important;
  color: #ccc !important;
  width: 32%;
  padding: 10px 4px;
  text-align: center;
  font-size: 14px;
}

.match-fixture:first-child {
  border: none;
  padding: 0;
  top: -10px;
  position: sticky;
  background-color: var(--match-fixture-bgcolor);
  padding-top: var(--match-fixture-ptop);
  padding-bottom: var(--match-fixture-pbottom);
  margin-top: -10px;
}

.loading-screen-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.loading-screen-content h1 {
  margin-bottom: 0;
}

.h-100 {
  height: 100% !important;
  max-height: 100% !important;
}

#outright-screen {
  top: 56px;
  bottom: 115px;
  align-items: flex-start;
  height: auto !important;
  z-index: 10;
}

.outright-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.logo {
  background-image: var(--global-logo);
  background-size: contain;
  background-repeat: no-repeat;
  width: 190px;
  height: 220px;
  display: block;
  margin: 0 auto;
}

.client-logo {
  background-image: var(--client-logo);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%;
  height: 80px;
  display: block;
  margin: 0 auto;
}

.extra-info {
  font-size: 0.8em;
  color: #8a8a8a;
  margin-top: 5px;
  width: 100%;
  text-align: center;
}

.text-left {
  text-align: left !important;
}

#countdown {
  background-color: #333;
  font-weight: bold;
  padding: 2px 10px;
  border-radius: 4px;
  font-size: 1.2em;
}

/** outright **/
/* Outright Screen */
.outright-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.outright-menu {
  display: flex;
  padding: 10px 10px 0 10px;
  gap: 10px;
}
.outright-content {
  flex: 1;
  overflow-y: auto;
  padding: 10px;
  gap: 10px;
  background-color: var(--outright-content-bgcolor);
}
.outright-content h3 {
  color: var(--base-color);
  margin: 15px 0 5px 0;
  text-align: left;
}
.outright-bet-btn {
  display: flex;
  width: 100%;
  padding: 12px;
  margin-bottom: 5px;
  background-color: var(--result-item-bgcolor);
  border: var(--result-item-border);
  color: var(--outright-bet-textcolor);
  border-radius: 5px;
  cursor: pointer;
  text-align: left;
  justify-content: space-between;
  align-items: center;
}

.outright-bet-btn span:last-child {
  background-color: var(--base-color);
  font-weight: bold;
  padding: 2px 10px;
  border-radius: 4px;
  font-size: 1.2em;
  display: block;
  color: #fff;
}

.outright-bet-btn.selected {
  background-color: var(--base-color); /* NEW COLOR */
  border-color: silver;
  font-weight: bold;
  color: #fff !important;
}

#results-screen,
#transition-screen,
#error {
  z-index: 99999;
}

.menu-icon {
  border: none;
  background-image: url(./menu.svg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 35px;
  height: 25px;
  cursor: pointer;
  display: block;
}

.bet-history-list {
  height: 95%;
  overflow-x: hidden;
  overflow-y: scroll;
  scrollbar-color: var(--base-color) #fff;
  text-align: left;
  color: var(--bet-history-textcolor);
}

#bet-history-modal {
  z-index: 9999999;
}

#bet-modal.hide {
  top: -30%;
  display: block !important;
}

#bet-modal {
  position: absolute;
  z-index: 99999;
  top: 5%;
  left: 50%;
  transform: translateX(-50%);
  transition: top 250ms;
}

.bet-button,
.modal-close-btn {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently */
}

.mt-0 {
  margin-top: 0 !important;
}

.mb-0 {
  margin-bottom: 0 !important;
}

.history-iframe,
#bet-history-list {
  width: 100%;
  height: 100%;
  border: 0;
}

.error-wrapper.soft {
  background-color: transparent;
}

.error-wrapper.soft.hide .error-content {
  top: -30%;
}

.error-wrapper.soft.hide {
  display: flex !important;
}

.error-wrapper.soft .error-content {
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translateX(-50%);
  transition: top 250ms;
  background-color: #fff;
}

#results-round-name {
  color: var(--result-round-name-textcolor);
}

#app-game-name {
  color: var(--app-game-name-textcolor);
}
